.results { 
  margin-bottom: 32px;
  
  .results-title {
    width: fit-content;
    margin-bottom: 8px;
  }

  .box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
  }

  .box-results {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  .box-symbol-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    width: fit-content;
  }
}