.rgb-experiment-page {
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 8px 16px;
  border: 1px solid black;

  .page-title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: fit-content;
  }

  .page-title {
    font-size: 16px;
  }

  .title-underline {
    width: 100%;
    height: 2px;
    background-color: blue;
    margin-top: 2px;
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 8px 0;
  }
}